.uvp-container {
  display: flex;
  justify-content: space-around;
  img {
    width: 200px;
    opacity: 0.7;
    margin: 0 20px;
  }
}

.carousel-title strong {
  background-color: rgba(50,50,50,0.7);
}
