.title-container {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #C5BFBF;
}

.job-cards-container {
  display: flex;
  justify-content: space-between;

}

.job-cards {
  border: 1px solid #C5BFBF;
  width: 180px;
  padding: 10px;
  margin: 30px 0;
  border-radius: 3px;
}

.description {
  border-bottom: 1px solid #C5BFBF;
  margin-bottom: 20px;
}

.company-info {
  display: flex;
  justify-content: space-between;
}

.company-container {
  border-bottom: 1px solid #C5BFBF;
  margin-bottom: 20px;
}
