

.radio-btns {
  display: flex;
  justify-content: space-between;
  margin: 30px 0;
}

input[type="radio"] {
  display:none;

  &:checked + label {
    background-color: gray;
    padding: 10px;
    border-radius: 8px;
    color: white;
    opacity: 1;
  }

  &:not(:checked) + label {
    background-color: gray;
    padding: 10px;
    border-radius: 8px;
    color: white;
    opacity: 0.4;
  }
}

#sign-up-btn {
  opacity: 0.4;
}
