<h1> <%= @job.job_title %></h1>

<p><%= @job.job_description %> </p>

<!-- pundit needs to be set up here -->
<%= link_to 'edit', edit_job_path(@job) %>
<%= link_to 'delete', job_path(@job), method: :delete %>
