<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    © 2020 SustainABLE
  </div>
  <div class="menu-links">
    <a href="#">About Us</a>
    <a href="#">Contact</a>
    <a href="#">Privacy Policy</a>
  </div>
</div>
