.btn-ghost {
  color: #4A4A4A;
  border: 1px solid #4A4A4A;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.6;
  transition: opacity 0.3s ease;
}

.btn-ghost:hover {
  opacity: 1;
}

.btn-flat {
  display: inline-block;
  color: white;
  padding: 8px 24px;
  border-radius: 8px;
  background: $green;
  width: 192px;
  height: 42px;
  transition: background 0.3s ease;
}

.btn-flat:hover {
  background-color: #67B353;
  color: white;
}

.btn-flat-reverse {
  color: $green;
  padding: 8px 24px;
  border-radius: 4px;
  background: white;
  transition: background 0.3s ease;
}

.btn-flat-reverse:hover {
  background-color: #F4F4F4;
  color: #67B353;
}

.btn-gradient {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  font-weight: bold;
  background: linear-gradient(#167FFB, #0F60C4);
  transition: background 0.3s ease;
  border: 1px solid #0F60C4;
}

.btn-gradient:hover {
  background: linear-gradient(#147EFF, #0F67DA);
  color: white;
}

.text-center a {
  font-size: 0.9rem;
  // margin-right: 40px;
}

.edit {
  background-color: #39A0DB;
  margin-top: 40px;

  &:hover {
    background-color: #40B2F4;
    color: white;
    text-decoration: none;
  }
}

.delete {
  background-color: #D64041;
  margin-top: 16px;
  &:hover {
    background-color: #F14849;
    color: white;
    text-decoration: none;
  }
}

.skill{
  background-color: #39A0DB;
  margin-top: 5px;
  margin-bottom: 3px;
   &:hover {
    background-color: #40B2F4;
    color: white;
    text-decoration: none;
  }
}

.delete-skill-btn {
  color: white;
}

.bg-dark {
  border-radius: 6px;
}

.customer-segment-selector {
  display: flex;
  margin-bottom: 50px;
}

.banner-button {
  color: white;
  font-size: 1.4rem;
  border: 2px solid white;
  font-weight: 500;
  &:hover {
    color: white;
    background-color: #888888;
  }
}

.developer-button {
  background-color: #676565;
  padding: 8px 24px;
  border-radius: 15px 0 0 15px;
}

.startup-button {
  background-color: #676565;
  padding: 8px 36px 8px 24px;
  border-radius: 0 15px 15px 0;
}


.developer-button-current {
  background-color: $green;
  padding: 8px 24px;
  border-radius: 15px 0 0 15px;
  &:hover {
    background-color: $green;
  }
}

.startup-button-current {
  background-color: $green;
  padding: 8px 36px 8px 24px;
  border-radius: 0 15px 15px 0;
  &:hover {
    background-color: $green;
  }
}

.favorite {
  background-color: #D64041;
  font-size: 0.90rem;
  &:hover {
    background-color: #F04849;
    color: white;
  }
}

.message {
  background-color: #39A0DB;
  font-size: 0.95rem;
  &:hover {
    background-color: #3FB0F1;
    color: white;
  }
}

.website {
  background-color: $green;
  // margin-top: 20px;
  font-size: 0.95rem;
  &:hover {
    background-color: #FBD133;
    color: white;
  }
}

.btn-reject {
  display: inline-block;
  color: white;
  padding: 8px 24px;
  border-radius: 8px;
  background: #DC3645;
  width: 192px;
  height: 42px;
  transition: background 0.3s ease;
  &:hover {
    color: white;
    background-color: #EF3B4B;
  }
}

#bio {
  margin: 0 20px;
}

.btn-delete {
  display: inline-block;
  color: white;
  padding: 8px 24px;
  border-radius: 8px;
  background: gray;
  width: 192px;
  height: 42px;
  transition: background 0.3s ease;
  font-size: 0.9rem;
}

.btn-delete:hover {
  background-color: #A9A9A9;
  color: white;
}

.btn-message {
  background-color: #39A0DB;
  font-size: 0.95rem;
  &:hover {
    background-color: #3FB0F1;
    color: white;
  }
}
