.navbar-lewagon {
  justify-content: space-between;
  background: white;
  box-shadow: 0px 1px 10px 0px rgba(235,235,235,1);
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 160px;
}

.navbar-light .navbar-nav .nav-link {
  color: #A5A5A5;
  opacity: 0.7;
  padding-right: 20px;
  transition: 0.3s ease;
}

.navbar-light .navbar-nav .nav-link:hover {
  color: #777676;
  opacity: 1;
}
