.serp-company-card {
  box-shadow: 2px 2px 7px -2px gray;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 100px;
  margin: 20px;

}

.serp-card-wrapper {
  color:black;
  text-decoration: none;
  &:hover {
    color:black;
    text-decoration: none;
  }
}

.serp-avatar {
  width: 70px;
  height: 70px;
  border-radius: 50%;
}

.serp-company-text {
  padding: 30px;
}

.serp-company-extras {
  padding: 6px;
  border-radius: 6px;
  border: 1px solid gray;
}
