.tag {
  display: inline-block;
  color: white;
  padding: 8px 24px;
  border-radius: 20px;
  background: $blue;
  width: 180px;
  height: 42px;
  font-weight: bold;
  text-align: center;
}

.grey {
  background: #C5BFBF;
}

.green {
  background: $green;
}

.red {
  background: #DC3645;
}
