.tag {
  display: inline-block;
  color: white;
  padding: 8px 24px;
  border-radius: 2px;
  background: $blue;
  width: 180px;
  height: 42px;
}

.grey {
  background: #C5BFBF;
}

.green {
  background: #74B468;
}

.orange {
  background: #F47E20;
}
